:root {
	--pale-blue: hsl(243, 100%, 93%);
	--grayish-blue: hsl(229, 7%, 55%);
	--dark-blue: hsl(228, 56%, 26%);
	--very-dark-blue: hsl(229, 57%, 11%);
	--pink-gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);
}

body {
	font-family: "Raleway", sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0px 20px;
	min-height: 100vh;
	background-image: url(/images/bg-mobile.png);
	background-size: cover;
	background-repeat: no-repeat;
}

h1 {
	font-weight: 400;
	color: var(--pale-blue);
	font-size: 14px;
}

p {
	color: white;
	font-size: 14px;
	color: var(--pale-blue);
}

span {
	font-weight: 700;
}

/*top div styling*/

.navigation-icons {
	margin-top: 30px;
}

.document-icon,
.folder-icon,
.upload-icon {
	background-color: var(--very-dark-blue);
}

.document-icon {
	padding: 12px 13px;
	border-radius: 10px;
}

.folder-icon {
	padding: 14px 12px;
	border-radius: 10px;
	margin: 0px 10px 0px 10px;
}

.upload-icon {
	padding: 16px 12px;
	border-radius: 10px;
}

.logo-and-icons,
.storage-bar {
	background-color: var(--dark-blue);
}

.logo-and-icons {
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
	padding: 40px;
	border-radius: 10px 90px 10px 10px;
	width: 76%;
}

/*bottom div styling*/

.storage-bar {
	padding: 30px;
	border-radius: 10px;
	width: 81.5%;
	display: block;
	margin: 0 auto;
}

.storage-used {
	text-align: center;
}

.pink-progress-bar {
	display: block;
	margin: 0 auto;
	background-color: hsla(229, 57%, 11%, 0.466);
	width: 260px;
	height: 20px;
	border-radius: 10px;
	margin-top: 15px;
}

.pinkness {
	width: 75%;
	height: 14px;
	border: 3px solid
		linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
	border-radius: 10px;
	background-image: linear-gradient(
		to right,
		hsl(6, 100%, 80%),
		hsl(335, 100%, 65%)
	);
	position: relative;
	top: 3px;
	left: 3px;
}

.white-dot {
	width: 10px;
	height: 10px;
	border-radius: 50px;
	background-color: white;
	position: relative;
	top: 2px;
	left: 93.5%;
}

.storage-min {
	margin-top: 7px;
	font-size: 13px;
	font-weight: 700;
	position: relative;
	left: 10px;
}

.storage-max {
	position: relative;
	left: 170px;
	font-size: 13px;
}

/* 185 gb asset*/

.storage-left {
	background-color: white;
	color: var(--very-dark-blue);
	font-size: 40px;
	font-weight: 700;
	border-radius: 10px;
	padding: 13px 20px;
	width: 135px;
	text-align: center;
	position: absolute;
	top: 67%;
	left: 107px;
}

.gb-left {
	font-weight: 700;
	font-size: 13px;
	color: var(--grayish-blue);
	position: relative;
	top: -7px;
}

/* footer */
.attribution {
	font-size: 11px;
	text-align: center;
	color: white;
	position: relative;
	top: 80px;
}
.attribution a {
	color: var(--pale-blue);
}

@media (min-width: 320px) and (max-width: 340px) {
	.storage-left {
		position: absolute;
		top: 74%;
		left: 25%;
	}

	.pink-progress-bar {
		position: relative;
		right: 15px;
	}

	.storage-min {
		position: relative;
		left: -12px;
	}
}

@media (min-width: 360px) and (max-width: 370px) {

	.storage-min {
		position: relative;
		left: 2px;
	}

	.storage-left {
		position: absolute;
		top: 65%;
		left: 100px;
	}
}

@media (min-width: 390px) and (max-width: 400px) {

	.storage-left {
		position: absolute;
		top: 63%;
		left: 30%;
	}
}

@media (min-width: 411px) and (max-width: 420px) {
	.storage-min {
		position: relative;
		left: 25px;
	}

	.storage-left {
		position: absolute;
		top: 63%;
		left: 120px;
	}
}

@media (min-width: 428px) and (max-width: 500px) {
	.storage-min {
		position: relative;
		left: 32px;
	}

	.storage-left {
		position: absolute;
		top: 66%;
		left: 30%;
	}

}

/* styling for desktop/latop view */

@media (min-width: 1440px) {
	body {
		background-color: var(--very-dark-blue);
		background-image: url(/images/bg-desktop.png);
		background-size: contain;
		background-position: bottom;
	}

	.whole-page {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.logo-and-icons {
		width: 270px;
		position: relative;
		left: 130px;
	}

	.storage-bar {
		width: 480px;
		height: 90px;
		position: relative;
		top: 56px;
		right: 95px;
	}

	.storage-used {
		text-align: left;
		position: relative;
		left: 16px;
	}

	.pink-progress-bar {
		width: 445px;
	}

	.storage-min {
		position: relative;
		left: 16px;
	}

	.storage-max {
		position: relative;
		left: 362px;
	}
}