:root {
	--pale-blue: hsl(243, 100%, 93%);
	--grayish-blue: hsl(229, 7%, 55%);
	--dark-blue: hsl(228, 56%, 26%);
	--very-dark-blue: hsl(229, 57%, 11%);
}

body {
	font-family: "Raleway", sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0px 20px;
	min-height: 100vh;
	background-image: url(/images/bg-mobile.png);
	background-repeat: no-repeat;
}

h1 {
    font-weight: 400;
    color: var(--pale-blue);
    font-size: 14px;
}
 
p {
    color: white;
    font-size: 14px;
    color: var(--pale-blue);
}

span {
    font-weight: 700;
}

/*top div styling*/

.navigation-icons {
    margin-top: 30px;
}

.document-icon, .folder-icon, .upload-icon {
    background-color: var(--very-dark-blue);
}

.document-icon {
    padding: 12px 13px;
    border-radius: 10px;
}

.folder-icon {
    padding: 14px 12px;
    border-radius: 10px;
    margin: 0px 10px 0px 10px;
}

.upload-icon {
    padding: 16px 12px;
    border-radius: 10px;
}

.logo-and-icons, .storage-bar {
    background-color: var(--dark-blue);
}

.logo-and-icons {
    margin-bottom: 20px;
    padding: 40px;
    border-radius: 10px 90px 10px 10px;
}

/*bottom div styling*/

.storage-bar {
    padding: 30px;
 border-radius: 10px;
}

.storage-used {
    text-align: center;
}

.pink-progress-bar {
    display: block;
    margin: 0 auto;
    background-color: var(--very-dark-blue);
    width: 260px;
    height: 15px;
    border-radius: 10px;
    margin-top: 15px;
}


/* footer */
.attribution {
	font-size: 11px;
	text-align: center;
	color: white;
    position: relative;
    top: 50px;
}
.attribution a {
	color: var(--pale-blue);
}
